{% extends "base.html" %} 
{% block title %}Home{% endblock %} 
{% block content %}
<h1 align="center"> {{user.firstName}}'s Notes </h1>
<ul class="list-group list-group-flush" id="notes">
   {% for note in user.notes %}
   
   <li class="list-group-item">{{ note.data }}
    <button type="button" class="close" onClick="deleteNote( {{note.id}} )">
  <span area-hidden="true">&times;</span>
    </button>
   </li>
   {% endfor %}
</ul>
<!-- we will allow the user to actually create notes-->
<form method="POST">
<textarea name="note" id="note" cols="20" rows="5" class="form-control"></textarea>
<br/>
<div align = "center">
   <button type="submit" class="btn btn-primary">
        Add Note
   </button>
</div>
</form> 

{% endblock %}